


<!DOCTYPE html>
<html>
    <head>

    <link rel="stylesheet" href="~/css/Contacts.css" asp-append-version="true" />


    </head>


<body>

    <h1>Like a social media application</h1>
    
    <p> This webiste is developed by team of enthuashtic developers. </p>

</body>
</html>