@{
    ViewData["Title"] = "Contacts List of developers who developed this website";
}
<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/Contacts.css" asp-append-version="true" />


<html>
   <head >

       


   </head>
   <body>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">GIFTSON  -  9234567892</li>
        <li class="list-group-item">SACHIN   - 9182736451</li>
 
    </ul>


   </body>
</html>